<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adultos</title>
</head>
<body>
<h1>PAGINA DE ADULTOS</h1>

<ul>
    <li><a href="/18a">18A (para mayores de 18 años)</a></li>
    <li><a href="/r">R (restringido y para mayores de 18 años)</a></li>
    <li><a href="/e">E (contenido exento de clasificación)</a></li>
</ul>

</body>
</html>