<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninios</title>
</head>
<body>
<h1>PAGINA DE NIÑOS</h1>

<ul>
    <li><a href="/g">G (para todos los públicos)</a></li>
    <li><a href="/pg">PG (con supervisión de los padres)</a></li>
    <li><a href="/pg13">PG13 (con supervisión de los padres para menores de 13 años)</a></li>
    <li><a href="/nc16">NC16 (para mayores de 16 años)</a></li>
</ul>

</body>
</html>